@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $flight;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}
.btn {
  border-radius: 0;
  &.btn-orange {
    background-color: $orange;
  }
  &.btn-transblue {
    color: $blue;
    border: 2px solid $blue;
    background-color: transparent;
  }
  &:hover {
    box-shadow: $base-box-shadow;
    &.btn-orange {
      background-color: darken($orange, 10%);
    }
    &.btn-transblue {
      text-decoration: none;

      color: #fff;
      border-color: #fff;
      background-color: $blue;
    }
  }
}
header {
  position: relative;

  height: 165px;

  border-top: 5px solid $violet;
  .container {
    .row {
      height: 140px;
      margin-bottom: 25px;

      border-bottom: 1px solid $blue;
    }
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 30px;

    background-color: $gray;

    @extend .dblock;
  }
  a {
    text-decoration: none;

    color: $violet;
  }
  .header-top--phone,
  .header-top--mail,
  .header-top--security {
    font-size: 15px;

    padding-top: 7px;

    color: $blue;
    a {
      font-weight: 600;

      text-decoration: none;
    }
  }
  .header-top--security {
    position: relative;

    padding-top: 0;

    @extend .clearfix;
    .stand-link {
      line-height: 2;

      display: block;

      height: 30px;
      padding-right: 15px;

      text-align: center;

      color: #fff;
      background-color: $orange;
      span {
        border-bottom: 1px dotted transparent;
      }
      &:hover {
        text-decoration: none;
        span {
          border-color: #fff;
        }
      }
    }
    .change-lang {
      font-size: 18px;
      font-weight: normal;

      position: absolute;
      top: 0;
      right: 0;

      overflow: hidden;

      width: 35px;
      height: 30px;

      text-align: center;

      border-left: 1px solid #fff;
      background-color: $violet;
      li {
        line-height: 1.5;

        display: none;

        height: 30px;

        cursor: pointer;

        color: #fff;
        &.active {
          display: block;
        }
      }
    }
  }
  .logo {
    padding-top: 16px;
    img {
      max-width: 100%;
    }
  }
  .headnav {
    font-size: 16px;

    width: 100%;
    padding-top: 65px;

    @extend .justify-child;
    a {
      text-decoration: none;
    }
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
  .single-title {
    font-size: 130%;
    font-weight: 600;
    line-height: 1.8;

    margin-bottom: 15px;
    padding: 6px 15px;

    color: #fff;
    background-color: $violet;
    box-shadow: $base-box-shadow;
    a {
      color: #fff;
    }
  }
  .small-title {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 10px;
    padding-top: 50px;

    text-align: center;
    text-transform: uppercase;

    color: $violet;
    span {
      padding: 0 0 5px;

      border-bottom: 1px solid $blue;
    }
  }
  .post-details {
    font-size: 80%;

    display: block;

    color: $gray-dark;
    a {
      color: $gray-dark;
    }
  }
  .post-tags {
    font-size: 80%;

    display: block;

    margin-bottom: 15px;
    padding-top: 10px;
  }
  a {
    color: #000;
    background-color: lighten($violet, 50%);
    &:hover {
      text-decoration: none;

      background-color: lighten($blue, 50%);
    }
  }
  img {
    margin-top: 0;
  }
}
.breadcrumbs {
  font-size: 80%;

  margin-bottom: 15px;
  padding: 4px;

  background-color: $violet;
  span {
    color: #fff;
  }
  a {
    color: $blue;
    background-color: transparent;
    &:hover {
      text-decoration: underline;

      color: $blue;
      background-color: transparent;
    }
  }
}
.looper {
  @extend .clearfix;
}
.tab-choise {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 380px;

    background-image: url(../img/bg/tab-choise-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    @extend .dblock;
  }
  .tab-choise--title {
    font-size: 36px;

    margin-bottom: 25px;
    padding-top: 40px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
  }
  .tab-choise--grid {
    height: 272px;

    @extend .clearfix;
    .tab-choise--button {
      position: relative;

      display: block;
      float: left;

      width: 20%;
      height: 100%;

      cursor: pointer;
      text-align: center;

      color: #fff;
      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;

        margin-left: -30px;

        transition: all .5s;

        opacity: 0;

        @extend .dblock;
        @include triangle(60px 30px, #fff, up);
      }
      h3 {
        font-size: 21px;

        padding: 15px 15px 0;

        transition: all .5s;
        text-align: center;

        color: $blue;
      }
      span {
        display: block;

        width: 90%;
        max-width: 165px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      path,
      circle {
        transition: all .5s;

        stroke: $blue;
        fill: transparent;
        stroke-width: 2px;
      }
      &:hover {
        path,
        circle {
          stroke: #fff;
        }
        h3 {
          color: #fff;
        }
      }
      &.tab-choise--button-active {
        path,
        circle {
          stroke: #fff;
        }
        h3 {
          color: #fff;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
  .tab-choise--container {
    display: none;
    &.tab-choise--active {
      display: block;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;

      margin-bottom: 40px;
      padding-top: 35px;

      text-align: center;
      text-transform: uppercase;

      color: $violet;
      span {
        padding-bottom: 15px;

        border-bottom: 1px solid $blue;
      }
    }
    .tab-choise--description {
      height: 125px;
      p {
        font-size: 13px;

        margin-bottom: 0;
        padding-right: 15%;
        padding-left: 15%;

        text-align: center;

        color: $gray-dark;
      }
    }
    table {
      font-size: 16px;

      width: 100%;
      .fa-minus-circle {
        color: $violet;
      }
      .fa-plus-circle {
        color: $orange;
      }
      tr {
        &:nth-child(odd) {
          background-color: $gray-light;
        }
        th {
          color: #fff;
          background-color: $violet;
        }
        td,
        th {
          width: 16%;
          padding-top: 10px;
          padding-bottom: 10px;

          text-align: center;

          border: 1px solid #fff;
          &:first-child {
            width: 52%;
          }
        }
        &:last-child {
          background-color: $violet;
          td {
            padding: 0;
          }
        }
      }
      button {
        width: 100%;
      }
    }
  }
}
.tab-choise--home {
  height: 500px;
  &:before {
    height: 500px;
  }
  .container {
    height: 100%;
    .row {
      position: relative;

      height: 100%;
    }
  }
  .tab-choise--grid {
    .tab-choise--button {
      h3 {
        color: $blue !important;
      }
      path,
      circle {
        stroke: $blue !important;
      }
      &:after {
        display: none;
      }
      &:hover {
        h3 {
          color: #fff !important;
        }
        path,
        circle {
          stroke: #fff  !important;
        }
      }
    }
  }
  .btn-transblue {
    position: absolute;
    bottom: 40px;
    left: 50%;

    width: 160px;
    margin-left: -80px;

    text-transform: uppercase;
  }
}
.double-tarifs {
  padding-top: 35px;
  h3 {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 55px;

    text-align: center;
    text-transform: uppercase;

    color: $violet;
    span {
      border-bottom: 1px solid $blue;
    }
  }
  .double-tarifs--item {
    font-size: 13px;

    position: relative;

    padding-right: 45px;
    padding-bottom: 90px;
    padding-left: 45px;
    h4 {
      font-size: 24px;
      font-weight: 600;

      margin-bottom: 25px;

      text-transform: uppercase;

      color: $violet;
      span {
        padding-right: 15px;

        text-align: left;

        border-bottom: 1px solid $blue;
      }
    }
    p {
      line-height: 1.6;

      margin-bottom: 30px;
    }
    ul {
      li {
        line-height: 1.6;

        position: relative;

        margin-bottom: 10px;
        &:before {
          position: absolute;
          top: 3px;
          left: -20px;

          content: '\f00c';

          color: $violet;

          @extend .fa;
        }
      }
    }
    table {
      width: 70%;
      margin-bottom: 15px;
      td {
        border: 0;
      }
    }
    .btn {
      font-size: 16px;

      position: absolute;
      bottom: 35px;
      left: 50%;

      width: 160px;
      margin-left: -80px;
    }
  }
}
.looper-container {
  .cat-title {
    font-size: 130%;
    font-weight: 600;
    line-height: 1.8;

    margin-bottom: 15px;
    padding: 6px 15px;

    color: #fff;
    background-color: $violet;
    box-shadow: $base-box-shadow;
    a {
      color: #fff;
    }
  }
  .looper {
    margin-bottom: 25px;
    padding-top: 15px;
    .loop-post-details {
      font-size: 80%;

      position: relative;

      width: 100%;
      margin-left: -15px;
      padding: 6px;

      color: #fff;
      background-color: $violet;
      i {
        font-size: 90%;
        font-weight: bold;

        margin-right: 2px;
      }
      span {
        margin-right: 7px;
      }
      &:after {
        position: absolute;
        top: 0;
        right: -30px;
        bottom: 0;

        width: 45px;

        background-color: $violet;

        @extend .dblock ;
      }
      a {
        text-decoration: none;
      }
    }
    &:nth-child(even) {
      background-color: lighten($violet, 60%);
    }
    .feature-img {
      padding-bottom: 15px;
      img {
        transition: $base-transition;

        opacity: .9;
        border: 3px solid transparent;
      }
    }
    .inner-title {
      font-weight: 600;

      padding-right: 0;
      padding-left: 0;
      .inner-title-link {
        font-size: 120%;

        display: block;
      }
      span {
        font-size: 80%;

        transition: $base-transition;

        color: $gray;
        a {
          color: $gray;
        }
      }
    }
    &:hover {
      .feature-img {
        img {
          opacity: 1;
          border-color: $blue;
        }
      }
      .inner-title {
        span {
          color: $gray-dark;
          a {
            color: $gray-dark;
          }
        }
      }
    }
  }
}
.front-block-title {
  font-size: 24px;
  font-weight: 600;

  margin-bottom: 35px;
  padding-top: 35px;

  text-align: center;
  text-transform: uppercase;

  color: $violet;
  span {
    padding: 0 5px 5px;

    border-bottom: 1px solid $blue;
  }
}
.front-block-descr {
  font-size: 13px;

  width: 60%;
  min-width: 440px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;

  text-align: center;
  &.front-block-descr--bdt {
    position: relative;

    padding-top: 20px;
    &:before {
      position: absolute;
      top: 0;
      left: 50%;

      width: 100px;
      height: 1px;
      margin-left: -50px;

      background-color: $blue;

      @extend .dblock;
    }
  }
}
.about-company--item {
  font-size: 13px;

  height: 80px;
  margin-bottom: 35px;

  text-align: center;
  h6 {
    font-size: 36px;
    font-weight: 900;

    margin-bottom: 10px;

    color: $blue;
  }
}
.our-tech {
  background-color: $gray;
}
.choise-pay--container,
.our-tech--container {
  @extend .clearfix;
  .choise-pay--item,
  .our-tech--item {
    position: relative;

    display: inline-block;
    float: left;

    height: 120px;
    margin-bottom: 40px;

    text-align: center;
    img {
      max-width: 90%;

      @extend .align-center;
    }
  }
}
.our-advantages--container {
  .our-advantages--item {
    position: relative;

    height: 130px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 160px;
    .our-advantages--image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20px;

      display: block;

      width: 120px;
      img {
        width: 100%;
      }
    }
    .our-advantages--descr {
      text-align: justify;
    }
  }
}
.choise-deftype {
  padding-bottom: 20px;

  background-color: $gray;
  .table-calc {
    margin-bottom: 35px;
    tr {
      &:nth-child(odd) {
        background-color: $gray-medium;
        .btn-table-calc {
          background-color: $gray-medium;
        }
      }
      &:nth-child(even) {
        background-color: $gray;
        .btn-table-calc {
          background-color: $gray;
        }
      }
      td {
        font-size: 16px;

        width: 12%;
        padding: 0;

        text-align: center;

        border: 0;
        &:first-child {
          font-weight: normal;

          width: 28%;
          padding: 15px;

          text-align: right;
          text-transform: uppercase;

          color: $blue;
        }
      }
      .btn-table-calc {
        font-weight: 300;

        width: 100%;
        height: 60px;

        white-space: normal;
        word-wrap: break-word;

        color: $gray-dark;
        &.btn-table-active {
          color: #fff;
          background-color: $blue;
        }
        &:hover {
          color: #fff;
          background-color: darken($action-color, 15%);
        }
      }
    }
  }
  .calc-result {
    width: 520px;
    margin: 0 auto 20px;

    text-align: center;
    h5 {
      font-size: 24px;
      font-weight: 600;

      margin-bottom: 15px;

      text-transform: uppercase;

      color: $violet;
    }
    .btn-transblue {
      margin: 0 auto;
    }
  }
}
aside {
  .widget {
    font-weight: normal;

    margin-bottom: 20px;

    border: 1px solid $violet;
    &.widget_search {
      border: 0;
    }
    h6 {
      font-size: 130%;
      font-weight: 600;
      line-height: 1.8;

      margin-bottom: 15px;
      padding: 6px 15px;

      color: #fff;
      background-color: $violet;
      box-shadow: $base-box-shadow;
    }
    ul,
    ol {
      padding-right: 15px;
      padding-left: 15px;
      li {
        margin-bottom: 10px;
      }
    }
  }
  .search {
    position: relative;

    height: 49px;
    input {
      box-sizing: border-box;
      width: 100%;
      height: 100%;

      border: 1px solid $violet;
      border-radius: 0;
    }
    button {
      font-weight: 600;
      line-height: .8;

      position: absolute;
      z-index: 1;
      top: 1px;
      right: 1px;
      bottom: 1px;

      color: #fff;
      border-radius: 0;
    }
  }
}
.related_posts {
  h6 {
    font-size: 110%;
    font-weight: 600;
    line-height: 1.8;

    margin-bottom: 15px;
    padding: 2px 15px;

    color: #fff;
    background-color: #462f8a;
    box-shadow: 0 1px 3px rgba(0,0,0,.06);
  }
  li {
    margin-bottom: 15px;

    opacity: .8;
    a {
      position: relative;

      display: block;

      width: 100%;
      height: 100%;
    }
    h5 {
      font-size: 120%;
      font-weight: bold;
      line-height: 1.8;

      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: 0;

      text-align: center;

      color: #fff;
      background-color: rgba(70, 47, 138, .20);
      span {
        @extend .align-center;
      }
    }
    .relatedthumb {
      position: relative;

      display: block;
      overflow: hidden;
      img {
        min-width: 100%;
        max-width: none;
        min-height: 100%;
        max-height: none;

        @extend .align-center;
      }
    }
    &:hover {
      opacity: 1;
      h5 {
        background-color: rgba(70, 47, 138, .60);
      }
    }
  }
}
.pagination {
  margin-bottom: 15px;

  text-align: center;

  @extend .clearfix;
  span,
  a {
    font-weight: 600;
    line-height: 2.4;

    display: inline-block;

    height: 39px;
    padding-right: 15px;
    padding-left: 15px;

    text-decoration: none;

    color: #fff;
    background-color: $violet;
    &:hover {
      background-color: darken($violet, 10%);
    }
    &.next {
      float: right;

      margin-right: 15px;
    }
    &.prev {
      float: left;

      margin-left: 15px;
    }
    &.current {
      background-color: $blue;
    }
  }
}
footer {
  height: $footer;
  margin: $footer_margin auto 0;
  padding-top: 60px;

  background-color: $violet;
  .footer--first {
    margin-bottom: 10px;
    padding-left: 60px;
    a {
      display: block;

      text-decoration: none;
    }
  }
  .footer--adress,
  .footer--phone,
  .footer--mail {
    position: relative;

    padding-top: 10px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;

      width: 38px;
      height: 60px;

      background-repeat: no-repeat;

      @extend .dblock;
    }
    p,
    a {
      margin-bottom: 6px;

      color: #fff;
    }
    a {
      &:hover {
        color: $blue;
      }
    }
  }
  .footer--adress {
    &:before {
      background-image: url(../img/svg/ico-map.svg);
    }
  }
  .footer--phone {
    &:before {
      background-image: url(../img/svg/ico-phone.svg);
    }
  }
  .footer--mail {
    &:before {
      background-image: url(../img/svg/ico-write.svg);
    }
  }
  .footer--social {
    padding-left: 15px;

    @extend .justify-child;
    a {
      font-size: 30px;

      display: inline-block;

      width: 60px;
      height: 60px;

      text-align: center;

      color: $blue;
      border: 2px solid $blue;
      border-radius: 50%;
      .fa {
        line-height: 1.9;
      }
      &:hover {
        border-color: darken($action-color, 15%);
        .fa {
          color: darken($action-color, 15%);
        }
      }
    }
  }
  .footer--second {
    margin-bottom: 25px;
  }
}

@import 'fonts/font_fontawesome';
@import 'fonts/font_proxima';
@import 'base64';

@media (max-width: 991px) {
  header {
    height: auto;
    margin-bottom: 15px;
    &:before {
      height: 60px;
    }
    .logo {
      padding-top: 20px;

      text-align: center;
      img {
        margin-bottom: 10px;
      }
    }
    .container {
      .row {
        border-bottom: 0;
      }
    }
    .headnav {
      padding-top: 15px;
    }
  }
  .header-top--phone,
  .header-top--mail {
    margin-bottom: 7px;

    text-align: center;
  }
  .about-company--item {
    height: 120px;
    h6 {
      font-size: 30px;
    }
  }
.our-advantages--container {
  .our-advantages--item {
    .our-advantages--image {
      /* top: 10px; */
    }
  }
}
  .choise-deftype {
    .table-calc {
      tr {
        td {
          font-size: 14px;

          width: 13.5%;
          button {
            font-size: 14px;
          }
          &:first-child {
            width: 19%;
          }
        }
      }
    }
  }
  footer {
    padding-top: 15px;
    .footer--adress,
    .footer--phone,
    .footer--mail {
      &:before {
        left: 15px;
      }
    }
    .footer--social {
      float: left;

      text-align: left;

      *zoom: 1;
      a {
        margin-right: 15px;
      }
      &:before {
        display: table;

        content: '';
      }
      &:after {
        display: table;
        clear: both;

        content: '';
      }
    }
  }
}















@import 'import/print';
